.tracklist .track {
    display: grid;
    grid-template-columns: .7fr 1.5fr 1.5fr .3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . . .";

}

.content {
    display: grid;
    grid-template-columns: .3fr 1.7fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . . .";
}

.spotify,
.lastfm {
    display: inline-flex;
    width: 100%;
    margin: 10px 0;
    gap: 7px;

    label,
    h4 {
        margin: auto 0;
        padding-left: 10px;
    }
}

.tracklist {
    .artist {
        padding-left: 10px;
    }

    p,
    h4 {
        margin: 10px 0;
    }

}

.playlists {

    .playlist {
        width: 100%;
        text-align: right;
    }
}

button {
    border: none;
    padding: 10px;
    cursor: pointer;
}

input {
    border: 0;
    padding: 0 10px;
    &:focus {
        outline: none !important;
    }
}

body {
    margin: 0;
}

h1 {
    padding-left: 20px;
}

.playlists h3,
footer p {
    margin-left: 10px;
}

label {
    font-size: 15px;
    font-weight: 700;
}

// theme
// 1 = light
// 2 = dark
@mixin theme-colors($theme: false) {
    // -> init colors
    // dark colors
    $color_1: rgb(12, 12, 12);
    $color_2: rgb(22, 22, 22);
    $color_3: rgb(33, 33, 33);
    $color_text: rgb(255, 255, 255);

    // light colors
    @if $theme==1 {
        $color_1: rgb(255, 255, 255);
        $color_2: rgb(245, 245, 245);
        $color_3: rgb(233, 233, 237);
        $color_text: rgb(0, 0, 0);
    }

    & {
        background-color: $color_1;
        color: $color_text;
    }

    button {
        background-color: $color_2;
        color: $color_text;
        &:hover {
            background-color: $color_3;
        }
    }

    input {
        background-color: $color_3;
        color: $color_text;

    }


    .tracklist .track {
        &.title:hover {
            background-color: transparent;
        }

        &:hover {
            background-color: $color_2;
        }
    }

}

// DARK/LIGHT MODE

// light mode
@media (prefers-color-scheme: light) {
    body {
        @include theme-colors($theme: 1);
    }
}

// dark mode
@media (prefers-color-scheme: dark) {
    body {
        @include theme-colors($theme: 2);
    }
}